__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints/
.pytest_cache/
stages/**/outputs/

paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.fdb_latexmk
paper/*.fls
paper/*.log
paper/*.out
paper/*.pdf
paper/*.synctex.gz
paper/*.toc
